---
layout: default
title: Installation methods for GitLab
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
---
.wrapper
  .installation-header
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .installation-content
        %h1 GitLab Installation

  #content
    .wrapper.container{role: "main"}

      .method
        .method-content
          %h2.block-title Introduction
          %ul
            %li
              %p.text-center
                We strongly recommend the Omnibus package since it is quicker to install, easier to upgrade, and it contains features to enhance reliability not found in other methods.
              %p.text-center
                We
                %a{:title => '', :href => 'https://docs.gitlab.com/ce/install/requirements.html#cpu'} recommend at least 2GB of free memory
                to run GitLab.

      .method.omnibus
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus package (recommended)
          .omnibus-table
            - distros = ['Ubuntu', 'Debian', 'CentOS', 'OpenSUSE', 'Raspberry Pi 2']
            - icons = ['ubuntu', 'debian', 'centos', 'opensuse', 'raspberry-pi']
            %ul.nav.nav-pills.omnibus-pills
              - distros.each_with_index do |distro, index|
                %li{class: index == 0 ? 'active' : ''}
                  %a{ data: { toggle: 'tab' }, href: "##{distro.parameterize}" }
                    .omnibus-tab-icon
                      = partial "/images/logos/#{icons[index]}-logo.svg"
                    %span.omnibus-tab-title.hidden-xs
                      = distro
            .tab-content.clearfix
              - distros.each_with_index do |distro, index|
                .tab-pane{id: distro.parameterize, class: index == 0 ? 'active' : ''}
                  %ul.omnibus-platform-list
                    - data.platforms.each do |platform|
                      - if platform.long_name.parameterize.include?(distro.parameterize)
                        %li.omnibus-platform
                          .omnibus-long-name
                            = platform.long_name
                            %small
                              = platform.subtitle
                          .dots
                          .omnibus-buttons
                            = link_to 'CE', "/downloads##{platform.name}", class: 'btn cta-btn btn-primary dl-link-ce'
                            = link_to 'EE', "/downloads-ee##{platform.name}", class: 'btn cta-btn btn-primary dl-link-ee'

      .method.official
        .method-content
          %h2.block-title Other official methods
          %ul.flex-tile-list
            - data.installation_methods.official.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc

      .method
        .method-content
          %h2.block-title Community contributed
          %ul.flex-tile-list
            - data.installation_methods.community.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc

      .method
        .method-content
          %h2.block-title Third-party applications that support GitLab
          %ul
            %li
              %p.text-center
                %a.btn.cta-btn.red{href: "/applications"}
                  View third-party applications
